body {
    font-family: Arial, sans-serif;
    background-color: #0a0e14;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b263b;
    padding: 10px 20px;
}

header .logo h1 {
    color: #fff;
}

/* Navigation bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: linear-gradient(to right, #000, #05232d);
    height: 60px;
    border-bottom: 2px solid #513e1d;
}

.logo h1 {
    font-family: 'Beaufort', sans-serif;
    font-size: 24px;
    color: #c5c0ab;
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2em;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #c5c0ab;
    font-size: 14px;
    padding: 8px 12px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links a:hover {
    color: #f0efea;
    border-bottom: 2px solid #947034;
}

.login a {
    background-color: transparent;
    padding: 8px 18px;
    border: 1px solid #947034;
    color: #c5c0ab;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login a:hover {
    background-color: #947034;
    color: #f0efea;
}

.champion-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.champion-list img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border: 1px solid #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.champion-list img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-button {
    background-color: #0d1b2a;
    color: #c5c0ab;
    border: 1px solid #947034;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button.active {
    background-color: #947034;
    color: #fff;
}

.pagination-button:hover {
    background-color: #c59d5a;
    color: #fff;
}

#detail {
    padding: 20px;
    background-color: #1b263b;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1200px;
    color: #c5c0ab;
}

#detail h2 {
    color: #f39c12;
    margin-bottom: 10px;
}

#detail p {
    margin: 10px 0;
    line-height: 1.5;
}

#detail ul {
    list-style: none;
    padding: 0;
}

#detail ul li {
    margin: 5px 0;
}

.filter {
    margin: 20px 0;
    text-align: center;
}

.filter label {
    font-size: 16px;
    color: #c5c0ab;
    margin-right: 10px;
}

.filter select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #947034;
    border-radius: 5px;
    background-color: #0d1b2a;
    color: #c5c0ab;
    outline: none;
    cursor: pointer;
}

.filter select:hover {
    border-color: #c59d5a;
}