@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Beaufort';
    src: url(fonts/BeaufortforLOL-Bold.ttf);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    color: #c5c0ab;
}

/* Navigation bar styling */
nav {
    position: fixed; /* Fix the nav bar to the top */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: linear-gradient(to right, #000, #05232d);
    height: 60px;
    border-bottom: 2px solid #513e1d;
    z-index: 1000; /* Ensure it stays above other elements */
}

header {
    margin-bottom: 60px; /* Add space below the fixed nav bar */
}

.logo h1 {
    font-family: 'Beaufort', sans-serif;
    font-size: 24px;
    color: #c5c0ab;
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2em;
    align-items: center; /* Center the list items vertically */
    justify-content: center; /* Center the list items */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #c5c0ab;
    font-size: 14px;
    padding: 8px 12px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links a:hover {
    color: #f0efea;
    border-bottom: 2px solid #947034;
}

.login-logout {
    margin: 0 10%;
}

#logout-nav {
    margin-left: auto;
    margin-right: 50%;
    display: flex;
}

nav #logout-nav a {
    background-color: transparent;
    padding: 8px 18px;
    border: 1px solid #947034;
    color: #c5c0ab;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav #logout-nav a:hover {
    background-color: #947034;
    color: #f0efea;
}

.logo {
    margin: 0% 10%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
    color: #c5c0ab;
}

section p {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    color: #c5c0ab;
    padding: 20px;
}

.video-link {
    color: #947034; /* Gold color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.video-link:hover {
    color: #c59d5a; /* Lighter gold on hover */
}

#team-photo {
    width: 100%;
    height: auto;
    max-width: 300px; /* Limit the maximum width */
    margin-top: 5px;
    margin-bottom: 0;
}

figcaption {
    font-size: 13px;
    color: #c5c0ab;
    margin-top: 0;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.026);
}

.footer-home {
    position: fixed;
    bottom: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}